name: Ubuntu System Update & install sshx

on:
  push:
    branches:
      - main

jobs:
  upgrade-and-sshx:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Update and upgrade system packages
        run: |
          sudo apt-get update -y
          sudo apt-get upgrade -y
          sudo apt-get dist-upgrade -y
          sudo apt-get autoremove -y

      - name: Install sshx
        run: |
          curl -sSf https://sshx.io/get | sh
          # Start sshx session and print link
          sshx
